files/nf_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

  <xs:element name="nfeProc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NFe" type="NFeType"/>
      </xs:sequence>
      <xs:attribute name="versao" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="NFeType">
    <xs:sequence>
      <xs:element name="infNFe" type="infNFeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infNFeType">
    <xs:sequence>
      <xs:element name="ide" type="ideType"/>
      <xs:element name="emit" type="emitType"/>
      <xs:element name="dest" type="destType"/>
      <xs:element name="entrega" type="entregaType" minOccurs="0"/>
      <xs:element name="det" type="detType" maxOccurs="unbounded"/>
      <xs:element name="total" type="totalType"/>
      <xs:element name="transp" type="transpType"/>
      <xs:element name="pag" type="pagType" minOccurs="0"/>
      <xs:element name="infAdic" type="infAdicType" minOccurs="0"/>
      <xs:element name="infRespTec" type="infRespTecType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="Id" type="xs:string" use="required"/>
    <xs:attribute name="versao" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- Tipos complexos -->
  <xs:complexType name="ideType">
    <xs:sequence>
      <xs:element name="cUF" type="xs:string"/>
      <xs:element name="cNF" type="xs:string"/>
      <xs:element name="natOp" type="xs:string"/>
      <xs:element name="mod" type="xs:string"/>
      <xs:element name="serie" type="xs:string"/>
      <xs:element name="nNF" type="xs:string"/>
      <xs:element name="dhEmi" type="xs:string"/>
      <xs:element name="dhSaiEnt" type="xs:string" minOccurs="0"/>
      <xs:element name="tpNF" type="xs:string"/>
      <xs:element name="idDest" type="xs:string"/>
      <xs:element name="cMunFG" type="xs:string"/>
      <xs:element name="tpImp" type="xs:string"/>
      <xs:element name="tpEmis" type="xs:string"/>
      <xs:element name="cDV" type="xs:string"/>
      <xs:element name="tpAmb" type="xs:string"/>
      <xs:element name="finNFe" type="xs:string"/>
      <xs:element name="indFinal" type="xs:string"/>
      <xs:element name="indPres" type="xs:string"/>
      <xs:element name="indIntermed" type="xs:string"/>
      <xs:element name="procEmi" type="xs:string"/>
      <xs:element name="verProc" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="emitType">
    <xs:sequence>
      <xs:element name="CNPJ" type="xs:string"/>
      <xs:element name="xNome" type="xs:string"/>
      <xs:element name="enderEmit" type="enderType"/>
      <xs:element name="IE" type="xs:string"/>
      <xs:element name="CRT" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enderType">
    <xs:sequence>
      <xs:element name="xLgr" type="xs:string"/>
      <xs:element name="nro" type="xs:string"/>
      <xs:element name="xBairro" type="xs:string"/>
      <xs:element name="cMun" type="xs:string"/>
      <xs:element name="xMun" type="xs:string"/>
      <xs:element name="UF" type="xs:string"/>
      <xs:element name="CEP" type="xs:string"/>
      <xs:element name="cPais" type="xs:string"/>
      <xs:element name="xPais" type="xs:string"/>
      <xs:element name="fone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="destType">
    <xs:sequence>
      <xs:element name="CPF" type="xs:string"/>
      <xs:element name="xNome" type="xs:string"/>
      <xs:element name="enderDest" type="enderType"/>
      <xs:element name="indIEDest" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entregaType">
    <xs:sequence>
      <xs:element name="CPF" type="xs:string"/>
      <xs:element name="xNome" type="xs:string"/>
      <xs:element name="xLgr" type="xs:string"/>
      <xs:element name="nro" type="xs:string"/>
      <xs:element name="xBairro" type="xs:string"/>
      <xs:element name="cMun" type="xs:string"/>
      <xs:element name="xMun" type="xs:string"/>
      <xs:element name="UF" type="xs:string"/>
      <xs:element name="CEP" type="xs:string"/>
      <xs:element name="cPais" type="xs:string"/>
      <xs:element name="xPais" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="detType">
    <xs:sequence>
      <xs:element name="prod" type="prodType"/>
      <xs:element name="imposto" type="impostoType"/>
    </xs:sequence>
    <xs:attribute name="nItem" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="prodType">
    <xs:sequence>
      <xs:element name="cProd" type="xs:string"/>
      <xs:element name="cEAN" type="xs:string"/>
      <xs:element name="xProd" type="xs:string"/>
      <xs:element name="NCM" type="xs:string"/>
      <xs:element name="CFOP" type="xs:string"/>
      <xs:element name="uCom" type="xs:string"/>
      <xs:element name="qCom" type="xs:string"/>
      <xs:element name="vUnCom" type="xs:string"/>
      <xs:element name="vProd" type="xs:string"/>
      <xs:element name="cEANTrib" type="xs:string"/>
      <xs:element name="uTrib" type="xs:string"/>
      <xs:element name="qTrib" type="xs:string"/>
      <xs:element name="vUnTrib" type="xs:string"/>
      <xs:element name="indTot" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="impostoType">
    <xs:sequence>
      <xs:element name="vTotTrib" type="xs:string"/>
      <xs:element name="ICMS" type="ICMSType"/>
      <xs:element name="IPI" type="IPIType"/>
      <xs:element name="PIS" type="PISType"/>
      <xs:element name="COFINS" type="COFINSType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ICMSType">
    <xs:sequence>
      <xs:element name="ICMS00" type="ICMS00Type"/>
    </xs:sequence>
  </xs:complexType>

    <xs:complexType name="IPIType">
    <xs:sequence>
      <xs:element name="cEnq" type="xs:string"/>
      <xs:element name="IPINT" type="IPINTType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="IPINTType">
    <xs:sequence>
      <xs:element name="CST" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ICMS00Type">
    <xs:sequence>
      <xs:element name="orig" type="xs:string"/>
      <xs:element name="CST" type="xs:string"/>
      <xs:element name="modBC" type="xs:string"/>
      <xs:element name="vBC" type="xs:string"/>
      <xs:element name="pICMS" type="xs:string"/>
      <xs:element name="vICMS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PISType">
    <xs:sequence>
      <xs:element name="PISOutr" type="PISOutrType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PISOutrType">
    <xs:sequence>
      <xs:element name="CST" type="xs:string"/>
      <xs:element name="vBC" type="xs:string"/>
      <xs:element name="pPIS" type="xs:string"/>
      <xs:element name="vPIS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COFINSType">
    <xs:sequence>
      <xs:element name="COFINSOutr" type="COFINSOutrType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="COFINSOutrType">
    <xs:sequence>
      <xs:element name="CST" type="xs:string"/>
      <xs:element name="qBCProd" type="xs:string"/>
      <xs:element name="vAliqProd" type="xs:string"/>
      <xs:element name="vCOFINS" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="totalType">
    <xs:sequence>
      <xs:element name="ICMSTot" type="ICMSTotType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ICMSTotType">
    <xs:sequence>
      <xs:element name="vBC" type="xs:string"/>
      <xs:element name="vICMS" type="xs:string"/>
      <xs:element name="vProd" type="xs:string"/>
      <xs:element name="vIPI" type="xs:string"/>
      <xs:element name="vPIS" type="xs:string"/>
      <xs:element name="vCOFINS" type="xs:string"/>
      <xs:element name="vNF" type="xs:string"/>
      <xs:element name="vTotTrib" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transpType">
    <xs:sequence>
      <xs:element name="modFrete" type="xs:string"/>
      <xs:element name="transporta" type="transportaType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transportaType">
    <xs:sequence>
      <xs:element name="CNPJ" type="xs:string"/>
      <xs:element name="xNome" type="xs:string"/>
      <xs:element name="IE" type="xs:string"/>
      <xs:element name="xEnder" type="xs:string"/>
      <xs:element name="xMun" type="xs:string"/>
      <xs:element name="UF" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cobrType">
    <xs:sequence>
      <xs:element name="fat" type="fatType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="fatType">
    <xs:sequence>
      <xs:element name="nFat" type="xs:string"/>
      <xs:element name="vOrig" type="xs:string"/>
      <xs:element name="vLiq" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pagType">
    <xs:sequence>
      <xs:element name="detPag" type="detPagType"/>
      <xs:element name="vTroco" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="detPagType">
    <xs:sequence>
      <xs:element name="indPag" type="xs:string"/>
      <xs:element name="tPag" type="xs:string"/>
      <xs:element name="vPag" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infAdicType">
    <xs:sequence>
      <xs:element name="infCpl" type="xs:string" minOccurs="0"/>
      <xs:element name="obsCont" type="obsContType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="obsContType">
    <xs:sequence>
      <xs:element name="xTexto" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="xCampo" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="infRespTecType">
    <xs:sequence>
      <xs:element name="CNPJ" type="xs:string"/>
      <xs:element name="xContato" type="xs:string"/>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="fone" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>


</xs:schema>
